*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color:rgb(77, 67, 67) ;
    display: grid;
    gap: 1rem;
}
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(157, 156, 196);
    border: 5px solid black;
}