#firstPera{
    background-color: yellow;
    color: brown;
}
#secondPera{
    background-color: rgb(98, 85, 129);
    
}
#thirdPera{
    background-color: rgba(187, 34, 34, 0.24);
    
}

.firstpera{
    background-color: #b95757;
}